<div class="container d-flex">
  <mat-card class="p-3">
    <mat-card-title> title 1 </mat-card-title>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa
      molestiae ullam vitae. Enim aut consequuntur excepturi laboriosam, amet
      velit similique ab, voluptatem cupiditate quae vero fuga, maxime officiis
      recusandae.
    </p>
    <button>Submit</button>
  </mat-card>
  <mat-card class="p-3">
    <mat-card-title> title 2 </mat-card-title>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa
      molestiae ullam vitae. Enim aut consequuntur excepturi laboriosam, amet
      velit similique ab, voluptatem cupiditate quae vero fuga, maxime officiis
      recusandae.
    </p>
    <button>Submit</button>
  </mat-card>
  <mat-card class="p-3">
    <mat-card-title> title 3 </mat-card-title>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa
      molestiae ullam vitae. Enim aut consequuntur excepturi laboriosam, amet
      velit similique ab, voluptatem cupiditate quae vero fuga, maxime officiis
      recusandae.
    </p>
    <button>Submit</button>
  </mat-card>
</div>
