<!-- <app-login-form></app-login-form>
<app-card></app-card> -->
<router-outlet></router-outlet>
<!-- <app-shell></app-shell> -->

<!-- <app-practise-ui></app-practise-ui> -->
<!-- <app-parent></app-parent> -->
<!-- <app-todos></app-todos> -->

<div class="v-steps">
  <div class="v-step" *ngFor="let step of steps; let i = index">
    <!-- Left side (circle + line) -->
    <div class="indicator">
      <div class="circle">
        {{ i + 1 }}
      </div>

      <!-- vertical line -->
      <div class="v-line" *ngIf="i < steps.length - 1"></div>
    </div>

    <!-- Right side label -->
    <div class="content">
      {{ step }}
    </div>
  </div>
</div>
